<!DOCTYPE html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0">
        
        <title>Adrian Humberto Castillo Lovo</title>
        <link rel="shortcut icon" href="Resources/img/favicon.ico"> 
        <script src="Resources/js/vue.js"></script> 

    </head>
    
    <body>

        <header>            
            <div id="Menu">
                 <!--Menu Principal-->
                <div class="fijo">
                    <div class="menu_bar">
                        <a class="bt-menu"><span class="icon-menu"></span>Menu</a>         
                    </div>  
                    <nav>
                        <ul>  
                            <li>
                                <a href="index.html"><span class="icon-home"></span> Inicio</a>
                            </li>                                                                          	
                            <li>
                                <a data-toggle="modal" data-target="#ModalDatos"><span class="icon-user"></span>Datos personales</a>
                            </li>                            
                            <li>
                                <a href="https://github.com/AdrianLovo/"><span class="icon-github"></span> GitHub</a>
                            </li>                        
                            <li>
                                <a href="mailto:adrianhumbertocastillo@gmail.com" title="Enviar email a Adrian Castillo"><span class="icon-envelop"></span> Contactar</a>
                            </li>
                            <li>
                                <a href="Guia.html" title="Guias y Codigo"><span class="icon-embed"></span> Guias y Codigo</a>
                            </li>                                   
                        </ul>
                    </nav>
                </div>               
                              
            </div>
        </header>
    

        <div class="container">
            <h1 class="lead" style="margin-top:75px">•Guias y Codigo</h1>
        </div>
        
        <div id="PanelPrincipal" class="container">
                
            <div class="panel panel-default">
              <div class="panel-body">

                    <!-- SQL -->
                    <ul v-if="ListaUno == true" class="list-group" style="margin-top: 15px">
                        
                        <li v-for="tecnologias in Tecnologias" class="list-group-item TituloGuia" @click="MostrarLista(tecnologias.id)">
                            <span class="badge">{{tecnologias.entradas}}  </span>                           
                            <img :src="tecnologias.imagen" width="25px" height="25px"><b>{{ tecnologias.nombre}}</b>                                      
                        </li>                

                    </ul>    

                    <ul v-if="ListaVue === true"  class="list-group" v-show="ListaVue">
                        <button @click="MostrarTituloUno()" type="button" class="btn btn-default">Regresar</button>
                        <li v-for="item in ItemVue" class="list-group-item TituloGuia" title="Mostrar Ejemplo" @click="MostrarCodigo(0, item.id, item.titulo)">
                            <a class="TextoModal" :href="item.enlace" target="_blank">
                            <img :src="item.imagen" width="25px" height="25px"> {{item.titulo}}
                            </a>
                        </li> 
                    </ul>  

                    <ul v-if="ListaGit === true" class="list-group" v-show="ListaGit">
                        <button @click="MostrarTituloUno()" type="button" class="btn btn-default">Regresar</button> 
                        <li v-for="item in ItemGit" class="list-group-item TituloGuia" title="Mostrar Ejemplo" @click="MostrarCodigo(1, item.id)">
                            <a class="TextoModal">
                            <img :src="item.imagen" width="25px" height="25px"> {{item.titulo}}
                            </a>
                        </li>                                                        
                    </ul> 

                    <ul v-if="ListaLinux === true"  class="list-group" v-show="ListaLinux">
                        <button @click="MostrarTituloUno()" type="button" class="btn btn-default">Regresar</button>
                        <li v-for="item in ItemLinux" class="list-group-item TituloGuia" title="Mostrar Ejemplo" @click="MostrarCodigo(2, item.id, item.titulo)">
                            <a class="TextoModal">
                            <img :src="item.imagen" width="25px" height="25px"> {{item.titulo}}
                            </a>
                        </li> 
                    </ul>                                 

                    <ul v-if="ListaSql === true" class="list-group" v-show="ListaSql">
                        <button @click="MostrarTituloUno()" type="button" class="btn btn-default">Regresar</button>                        
                        <li v-for="item in ItemSql" class="list-group-item TituloGuia" title="Mostrar Ejemplo" @click="MostrarCodigo(3, item.id)">
                            <a class="TextoModal">
                            <img :src="item.imagen" width="25px" height="25px"> {{item.titulo}}
                            </a>
                        </li>  
                    </ul>                   


                    <!-- Modal Datos -->
                    <div class="modal" role="dialog" :class="{show:ModalMostra}" style="margin-top: 100px; width: 100%">
                           <div class="modal-dialog modal-lg">
            
                            <div class="modal-content">
                                <div class="modal-header">
                                    <center>
                                        <h4 class="modal-title">{{$data.TituloModal}}</h4>
                                    </center>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        
                                   <div id="CodigoContenido">
                                     <div v-html="CodigoModal"></div>      
                                     <center><button type='button' class='btn btn-info' @click="CerrarModal()">Cerrar</button></center>                                 
                                   </div> 

                                </div>    
                                <div class="modal-footer">
                                </div>
                            </div>                  
                        </div>
                    </div> 

                    <!-- Div Codigo -->
                    <div v-show="DivMostrar">
                        <button @click="RegresarLista()" type="button" class="btn btn-default">Regresar</button>
                        <center><h2>{{$data.TituloDiv}}</h2></center>
                        <div v-html="CodigoDiv"></div>    
                    </div>   

                </div>
            </div>          
            
        </div>  

        <!-- Modal Datos Personales-->
        <div class="modal fade" id="ModalDatos" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <center>
                            <h4 class="modal-title">Datos Personales</h4>
                        </center>
                    </div>
                
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4" style="margin-top: 10px; margin-bottom: 10px">
                    <img src="Resources/img/Foto.webp" class="fotoPerfil efectofotoPerfil">        
                    </div>

                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2" style="margin-bottom: 10px; margin-top: 10px">
                        <table>
                            <tr><td class="resaltado"><b>Nombre:</b> Adrián Humberto Castillo Lovo</td></tr>
                            <tr><td class="resaltado"><b>Edad:</b> 27 Años</td></tr>
                            <tr><td class="resaltado"><b>Teléfono:</b> 7117-3697</td></tr>       
                            <tr><td class="resaltado"><b>Profesion:</b> Estudiante</td></tr>       
                            <tr><td class="resaltado"><b>Domicilio:</b> San Salvador</td></tr>
                            <tr><td class="resaltado"><b>Estado civil:</b> Soltero</td></tr>
                            <tr><td class="resaltado"><b>Email:</b> adrianhumbertocastillo@gmail.com</td></tr>
                            <tr>
                                <td> 
                                    <p>
                                        <center><button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button></center>  
                                    </p>                                          
                                </td>
                            </tr>
                        </table>
                    </div>    
                    <div class="modal-footer">
                    </div>
                </div>
      
            </div>
        </div> 

        <!-- Cotenido Header para evitar retraso de "About default"-->
        <link rel="stylesheet" type="text/css" href="Resources/fonts/fonts.css">
        <link rel="stylesheet" type="text/css" href="Resources/css/menu.min.css">
        <link rel="stylesheet" href="Resources/css/bootstrap.min.css">
        <link rel="stylesheet" href="Resources/prism/prism.css">   
        <link rel="stylesheet" href="Resources/css/Guia.min.css">   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
      
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144197995-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-144197995-1');
        </script>

        <script src="Resources/js/vendor/modernizr-2.8.3.min.js"></script>               
        <script src="Resources/js/Menu.js"></script>   
        <script src="Resources/prism/prism.js"></script>  
        <script src="Resources/js/Guia.js"></script>                
    </body>
</html>
