<!DOCTYPE html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>Adrian Humberto Castillo Lovo</title>
        <link rel="shortcut icon" href="Resources/img/favicon.ico"> 
        <!-- Critical Css-->
        <style>
            *{margin:0;padding:0}body{background:#FFFFFA}header{width:100%}header nav{width:100%;max-width:100%;margin:0px auto;background:#286090}.menu_bar{display:none;z-index:40}header nav ul{overflow:hidden;list-style:none}header nav ul li{float:left}header nav ul li a{padding:20px;display:block;text-decoration:none}header nav ul li span{margin-right:10px}header nav ul li a:hover{background:#337ab7}@media screen and (max-width:800px){header nav{width:75%;height:100%;left:-100%;margin:0;position:fixed}header nav ul li{display:block;float:none;border-bottom:1px solid rgba(255,255,255,.3)}.menu_bar{display:block;width:100%;background:#ccc}.menu_bar .bt-menu{display:block;padding:20px;background:#286090;color:#fff;text-decoration:none;font-weight:bold;font-size:25px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.menu_bar span{float:right;font-size:40px}}nav ul li a{text-decoration:none!important;color:white!important}
        </style>        
        <script src="Resources/js/vue.min.js"></script> 

    </head>
    
    <body>
                                                                                   


        <header>            
            <!--Menu Principal-->
            <div id="Menu" class="fijo">
                <div class="menu_bar">
                    <a class="bt-menu"><span class="icon-menu"></span>Menu</a>
                </div>  
                <nav>
                    <ul>    
                        <li>
                            <a href="index.html"><span class="icon-home"></span> Inicio</a>
                        </li>                	
                        <li>
                            <a href="#"><span class="icon-checkmark"></span>Portafolio</a>
                        </li>                            
                        <li>
                            <a href="https://github.com/AdrianLovo/"><span class="icon-github"></span>GitHub</a>
                        </li>                        
                        <li>
                            <a href="mailto:adrianhumbertocastillo@gmail.com" title="Enviar email a Adrian Castillo"><span class="icon-envelop"></span>Contactar</a>
                        </li>                                
                    </ul>
                </nav>
            </div>    
        </header>   
    

        <div class="container">
            <h1 class="lead">Guias y Codigo</h1>
        </div>
        
        <div id="PanelPrincipal" class="container">
                
            <div class="panel panel-default">
              <div class="panel-body">

                    <!-- SQL -->
                    <ul v-if="ListaUno == true" class="list-group" style="margin-top: 15px">
                        
                        <li v-for="tecnologias in Tecnologias" class="list-group-item TituloGuia" @click="MostrarLista(tecnologias.id)">
                            <span class="badge">{{tecnologias.entradas}}  </span>                           
                            <img :src="tecnologias.imagen" width="25px" height="25px"><b>{{ tecnologias.nombre}}</b>                                      
                        </li>                

                    </ul>    

                    <ul v-if="ListaVue === true"  class="list-group" v-show="ListaVue">
                        <button @click="MostrarTituloUno()" type="button" class="btn btn-default">Regresar</button>
                        <li v-for="item in ItemVue" class="list-group-item TituloGuia" title="Mostrar Ejemplo" @click="MostrarCodigo(0, item.id, item.titulo)">
                            <a class="TextoModal" :href="item.enlace" target="_blank">
                            <img :src="item.imagen" width="25px" height="25px"> {{item.titulo}}
                            </a>
                        </li> 
                    </ul>  

                    <ul v-if="ListaGit === true" class="list-group" v-show="ListaGit">
                        <button @click="MostrarTituloUno()" type="button" class="btn btn-default">Regresar</button> 
                        <li v-for="item in ItemGit" class="list-group-item TituloGuia" title="Mostrar Ejemplo" @click="MostrarCodigo(1, item.id)">
                            <a class="TextoModal">
                            <img :src="item.imagen" width="25px" height="25px"> {{item.titulo}}
                            </a>
                        </li>                                                        
                    </ul> 

                    <ul v-if="ListaLinux === true"  class="list-group" v-show="ListaLinux">
                        <button @click="MostrarTituloUno()" type="button" class="btn btn-default">Regresar</button>
                        <li v-for="item in ItemLinux" class="list-group-item TituloGuia" title="Mostrar Ejemplo" @click="MostrarCodigo(2, item.id, item.titulo)">
                            <a class="TextoModal">
                            <img :src="item.imagen" width="25px" height="25px"> {{item.titulo}}
                            </a>
                        </li> 
                    </ul>                                 

                    <ul v-if="ListaSql === true" class="list-group" v-show="ListaSql">
                        <button @click="MostrarTituloUno()" type="button" class="btn btn-default">Regresar</button>                        
                        <li v-for="item in ItemSql" class="list-group-item TituloGuia" title="Mostrar Ejemplo" @click="MostrarCodigo(3, item.id)">
                            <a class="TextoModal">
                            <img :src="item.imagen" width="25px" height="25px"> {{item.titulo}}
                            </a>
                        </li>  
                    </ul>                   


                    <!-- Modal Datos -->
                    <div class="modal" role="dialog" :class="{show:ModalMostra}" style="margin-top: 100px; width: 100%">
                           <div class="modal-dialog modal-lg">
            
                            <div class="modal-content">
                                <div class="modal-header">
                                    <center>
                                        <h4 class="modal-title">{{$data.TituloModal}}</h4>
                                    </center>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        
                                   <div id="CodigoContenido">
                                     <div v-html="CodigoModal"></div>      
                                     <center><button type='button' class='btn btn-info' @click="CerrarModal()">Cerrar</button></center>                                 
                                   </div> 

                                </div>    
                                <div class="modal-footer">
                                </div>
                            </div>                  
                        </div>
                    </div> 

                    <!-- Div Codigo -->
                    <div v-show="DivMostrar">
                        <button @click="RegresarLista()" type="button" class="btn btn-default">Regresar</button>
                        <center><h2>{{$data.TituloDiv}}</h2></center>
                        <div v-html="CodigoDiv"></div>    
                    </div>   

                </div>
            </div>          
            
        </div>      

        <!-- Cotenido Header para evitar retraso de "About default"-->
        <link rel="stylesheet" type="text/css" href="Resources/fonts/fonts.css">    
        <link rel="stylesheet" href="Resources/css/bootstrap.min.css">
        <link rel="stylesheet" href="Resources/prism/prism.css">   
        <link rel="stylesheet" href="Resources/css/Guia.min.css">   
        <script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
        <!------------------------------------------------------------>             

        <script async src="Resources/js/Menu.min.js"></script>   
        <script async src="Resources/prism/prism.js"></script>  
        <script async src="Resources/js/Guia.min.js"></script> 
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144197995-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-144197995-1');
        </script>
    </body>
</html>
