<!DOCTYPE html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Adrian Humberto Castillo Lovo</title>
        <link rel="shortcut icon" href="Resources/img/favicon.ico">  
        
        <!-- Critical Css-->
        <link rel="stylesheet" href="Resources/css/CriticalCss.css">
    </head>    
<body>

    <header>            
        <!--Menu Principal-->
        <div id="Menu" class="fijo">
            <div class="menu_bar">
                <a class="bt-menu"><span class="icon-menu"></span>Menu</a>
            </div>  
            <nav>
                <ul>                    	
                    <li>
                        <a data-toggle="modal" data-target="#ModalDatos"><span class="icon-user"></span>Datos personales</a>
                    </li>                            
                    <li>
                        <a href="https://github.com/AdrianLovo/"><span class="icon-github"></span>GitHub</a>
                    </li>                        
                    <li>
                        <a href="mailto:adrianhumbertocastillo@gmail.com" title="Enviar email a Adrian Castillo"><span class="icon-envelop"></span>Contactar</a>
                    </li>
                    <li>
                        <a href="Guia.html" title="Guias y Codigo"><span class="icon-embed"></span>Guias y Codigo</a>
                    </li>                                 
                </ul>
            </nav>
        </div>    
    </header>    

    <div class="container">
        <h1 class="lead">•Formación •Habilidades•Experiencia
        </h1>
    </div>
    
    <div class="row-fluid" style="margin-bottom: 30px;">
        <img src="Resources/img/Img1.webp" class="foto">
    </div>

    <div id="Principal">
        
        <div id="Formacion" class="container">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <b>Grado Académico</b><br>
                Lic. en ciencias de la Computación (4 Años cursados)
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <b>Lugar de estudio</b><br>
                Universidad Centroamericana “José Simeón Cañas”
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <b>Periodo</b><br>
                2010-2016
            </div>

            <!-- Modal Otros cursos -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p><center>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalOtrosCursos">Otros Cursos</button>
                </center></p>

                <div id="ModalOtrosCursos" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                       <div class="modal-content">
                            <div class="modal-header">
                                <center><h4 class="modal-title">Otros Cursos</h4></center>                              
                            </div>
                            <div class="modal-body">
                                <ul class="list-group">
                                    <li class="list-group-item" v-for="curso in OtrosCursos"><b>{{curso.nombre}}</b> {{curso.lugar}}</li>
                                </ul> 
                                <center><button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button></center>
                            </div>
                        </div>     
                    </div>  
                </div>
            </div>
        </div>

        <div id="Habilidades" class="container">
            <!-- Lenguajes de Programacion -->
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <p><center>
                    <b>Tecnologias Utilizadas</b>
                </center></p>
                
                <div class="flex-container">
                    <div v-for="lenguaje in Lenguajes">
                        <table>
                            <tr>
                                <td><img  :src="lenguaje.url" class="imgLenguaje" :alt="lenguaje.nombre" :title="lenguaje.nombre">
                                </td>
                            </tr>
                            <tr>
                                <td><center><p>{{lenguaje.nombre}}</p></center></td>
                            </tr>
                        </table>
                    </div>                        
                </div>
               
                <p><center>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalOtrosLenguajes">Otros lenguajes</button>
                </center></p>
                   
                <!-- Modal Otros lenguajes de progrmacion-->    
                <div id="ModalOtrosLenguajes" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <center><h4 class="modal-title">Otros lenguajes de programacion aprendidos en la Universidad</h4></center>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group">
                                    <li class="list-group-item" v-for="otroLenguaje in OtrosLenguajes">
                                        <img :src="otroLenguaje.url" :alt="otroLenguaje.nombre" :title="otroLenguaje.nombre" class="imgOtroLenguaje">
                                        <b>{{otroLenguaje.nombre}}:</b> {{otroLenguaje.lugar}} 
                                    </li>
                                    <li class="list-group-item" style="cursor: pointer;">
                                        <a href="https://platzi.com/@AdrianCas/" style="text-decoration: none" target="_bl">
                                            <img src="Resources/img/Redes/platzi.webp" class="imgOtroLenguaje">
                                        <b>Platzi:</b> Listado de cursos realizados</a>
                                    </li>
                                </ul> 

                                <p><center><button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button></center></p>
                            </div>                      
                        </div>     
                    </div>  
                </div>
            </div>

            <!-- Sobre JavaEE -->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <p><center>
                    <b>Sobre JavaEE:</b>
                </center></p>
                <p>•<b>JPA</b> (Java Persistence Api) como framework de persistencia para realizar el mapeo de la base de datos.<br></p>
                <p>•<b>EJB</b> (Enterprise JavaBeans) para la capa de procesos.<br></p>
                <p>•<b>JSF</b> (Java Server Faces) como framework para la vista utilizando las librerías de <i><b>Primefaces</b></i> para agilizar el desarrollo y mejorar la estética en general.<br></p>
                <p>•<b>JasperReports</b> Como herramienta para la generación de reportes.<br> </p>
            </div>           

        </div>

       
       
        <div class="container">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h2 class="ac title-size">Cualidades<i class="title_line"></i></h2>
                <div v-for="cualidad in Cualidades">
                    <span class="icon-checkmark"></span>{{cualidad}} <br>     
                </div>                                         
            </div>   
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h2 class="ac title-size">¿En qué estoy trabajando?<i class="title_line"></i></h2> 
                <div v-for="trabajo in Trabajo">
                    <span class="icon-checkmark"></span>{{trabajo}}<br> 
                </div>                                            
            </div>    
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h2 class="ac title-size">Objetivos<i class="title_line"></i></h6>
                Actualmente mi objetivo principal es encontrar la oportunidad para formar parte del equipo de desarrolladores de una empresa dedicada al mundo de internet en general, para poder seguir evolucionando como profesional, aportando todo el conocimiento y experiencia adquirida para ser un miembro importante.
            </div>         
        </div> 
               
    </div>		 
           
    <footer class="footer">
        <h5>SOBRE ESTA PAGINA</h5>
        <p>Este sitio web ha sido diseñado y codeado a mano con Sublime Text 3 en HTML5 y CSS3 con el framework Vue.js y Bootstrap.</p>
        <p>La web se encuentra alojada en un repositorio en GitHub y está diseñada siguiendo las tendencias en diseño web responsive, por tanto se adapta perfectamente a cualquier dispositivo en el que se visualice</p>
    </footer>  
    
    
    <!-- Modal Datos Personales-->
    <div class="modal fade" id="ModalDatos" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <center>
                        <h4 class="modal-title">Datos Personales</h4>
                    </center>
                </div>
            
                <div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <center><img src="Resources/img/Foto.webp" class="fotoPerfil">    </center>
                    </div>
                    
                   
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top: 10px">
                    <center>
                    <table>
                            <tr><td class="resaltado"><b>Nombre:</b> Adrián Humberto Castillo Lovo</td></tr>
                            <tr><td class="resaltado"><b>Edad:</b> 27 Años</td></tr>
                            <tr><td class="resaltado"><b>Teléfono:</b> 7117-3697</td></tr>       
                            <tr><td class="resaltado"><b>Profesion:</b> Estudiante/Programador</td></tr>       
                            <tr><td class="resaltado"><b>Domicilio:</b> San Salvador</td></tr>
                            <tr><td class="resaltado"><b>Email:</b> adrianhumbertocastillo@gmail.com</td></tr>
                            <tr>
                                <td>
                                    <center>
                                        <a href="https://www.facebook.com/adrian.humberto.12" target="_blank" class="botonesRedes">
                                            <img class="imgRedes" src="Resources/img/Redes/facebook.ico" alt="adrian.humberto.12" >
                                        </a>
                                        <a href="https://www.instagram.com/adrianhumbertcastillo/" target="_blank" class="botonesRedes">
                                            <img class="imgRedes" src="Resources/img/Redes/instagram.ico" alt="adrianhumbertcastillo">
                                        </a>
                                        <a href="https://acastillo20.blogspot.com/" target="_blank" class="botonesRedes">
                                            <img class="imgRedes" src="Resources/img/Redes/blog.ico" alt="acastillo20.blogspot.com">
                                        </a>
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    
                                </td>
                            </tr>
                        </table>
                    </center>
                    </div>

                </div>

                <div class="modal-footer">   
                <center><button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button></center>                   
                </div>
            </div>      

        </div>
    </div> 

    <!-- Cotenido Header para evitar retraso de "About"-->
    <link rel="stylesheet" type="text/css" href="Resources/fonts/fonts.css">   
    <link rel="stylesheet" type="text/css" href="Resources/css/index.min.css">
    <link rel="stylesheet" href="Resources/css/bootstrap.min.css"> 
    <script type="text/javascript" src="Resources/js/vue.min.js"></script>
    <script async  src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script async  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    
    <!---------------------------------------------------->
    <script async  src="Resources/js/index.min.js"></script>                         
    <script async  src="Resources/js/Menu.min.js"></script> 
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144197995-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-144197995-1');
    </script>

</body>
</html>

