<!DOCTYPE html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Adrian Humberto Castillo Lovo</title>
        <link rel="shortcut icon" href="Resources/img/favicon.ico">  
        
        <!-- Critical Css-->
        <link rel="stylesheet" href="Resources/css/CriticalCss.css">
    </head>    
<body>

    <header>            
        <!--Menu Principal-->
        <div id="Menu" class="fijo">
            <div class="menu_bar">
                <a class="bt-menu"><span class="icon-menu"></span>Menu</a>
            </div>  
            <nav>
                <ul>                    	
                    <li>
                        <a href="Portafolio.html"><span class="icon-cog"></span>Portafolio</a>
                    </li>                            
                    <li>
                        <a href="https://github.com/AdrianLovo/"><span class="icon-github"></span>GitHub</a>
                    </li>                        
                    <li>
                        <a href="mailto:adrianhumbertocastillo@gmail.com" title="Enviar email a Adrian Castillo"><span class="icon-envelop"></span>Contactar</a>
                    </li>
                    <li>
                        <a href="Guia.html" title="Guias y Codigo"><span class="icon-embed"></span>Guias y Codigo</a>
                    </li>                                 
                </ul>
            </nav>
        </div>    
    </header>    

    <div class="container">
        <h1 class="lead"></h1>
    </div>
    
    <div id="Principal" class="container">
        
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs centrado">
                <img src="Resources/img/Foto.webp" class="fotoPerfil">                
            </div>    
            <div id="Formacion" class="col-xs-12 col-sm-9 col-md-9 col-lg-9 marco">  
                <p class="tituloSecundario">Formación</p>  
                <div class="col-xs-5 hidden-sm hidden-md hidden-lg">
                    <img src="Resources/img/Foto.webp" class="fotoPerfil">                    
                </div>        
                <div class="col-xs-7 col-sm-4 col-md-4 col-lg-4">
                    <b>Grado Académico</b>
                    <p>Lic. en ciencias de la Computación<br>
                    (4 Años cursados)</p>
                </div>
                <div class="col-xs-7 col-sm-4 col-md-4 col-lg-4">
                    <b>Lugar de estudio</b><br>
                    Universidad Centroamericana <br> “José Simeón Cañas”
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 hidden-xs">
                    <b>Periodo</b><br>
                    2010-2016
                </div>                  
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 boton">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalOtrosCursos">Otros Cursos</button>
                </div>
            </div>
        </div>

       
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
                <div class="marco">
                    <p class="textoDescriptionNegrita">Adrián Humberto Castillo</p>
                    <p class="textoDescriptionNormal">Programación | Tecnologia | Libros</p>
                    <div class="centrado">
                        <a href="https://www.facebook.com/adrian.humberto.12" target="_blank" class="botonesRedes">
                            <img class="imgRedes" src="Resources/img/Redes/facebook.ico" alt="adrian.humberto.12" >
                        </a>
                        <a href="https://acastillo20.blogspot.com/" target="_blank" class="botonesRedes">
                            <img class="imgRedes" src="Resources/img/Redes/blog.ico" alt="acastillo20.blogspot.com">
                        </a>
                        <a href="https://github.com/AdrianLovo/" target="_blank" class="botonesRedes">
                            <img class="imgRedes" src="Resources/img/Redes/github.png" alt="github.com.AdrianLovo">
                        </a>
                    </div> 
                </div>
            </div>  

            <div id="Habilidades" class="col-xs-12 col-sm-9 col-md-9 col-lg-9 marco">
            
                <!-- Lenguajes de Programacion -->
                <div>
                    <p class="tituloSecundario">Tecnologias Utilizadas</p>
                    <div class="flex-container">
                        <div v-for="lenguaje in Lenguajes">
                            <table>
                                <tr>
                                    <td><img :src="lenguaje.url" class="imgLenguaje" :alt="lenguaje.nombre" :title="lenguaje.nombre">
                                    </td>
                                </tr>
                                <tr>
                                    <td><center><p>{{lenguaje.nombre}}</p></center></td>
                                </tr>
                            </table>
                        </div>                        
                    </div>         
                    <div class="boton">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ModalOtrosLenguajes">Otros lenguajes</button>  
                    </div>                      
                </div>                    
    
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9  col-sm-offset-3 col-md-offset-3 col-lg-offset-3 marco">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h2 class="ac title-size tituloSecundario">¿En qué estoy trabajando?<i class="title_line"></i></h2> 
                    <div v-for="trabajo in Trabajo">
                        <span class="icon-checkmark"></span>{{trabajo}}<br> 
                    </div>                                            
                </div>    
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h2 class="ac title-size tituloSecundario">Objetivos<i class="title_line"></i></h6>
                    Actualmente mi objetivo principal es encontrar la oportunidad para formar parte del equipo de desarrolladores de una empresa dedicada al mundo de internet en general, para poder seguir evolucionando como profesional, aportando todo el conocimiento y experiencia adquirida para ser un miembro importante.
                </div>         
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h2 class="ac title-size tituloSecundario">Cualidades<i class="title_line"></i></h2>
                    <div v-for="cualidad in Cualidades">
                        <span class="icon-checkmark"></span>{{cualidad}} <br>     
                    </div>                                         
                </div>               
            </div> 
        </div>
           
        <!-- Modal Otros cursos -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">           

            <div id="ModalOtrosCursos" class="modal fade" role="dialog">
                <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                            <center><h4 class="modal-title">Otros Cursos</h4></center>                              
                        </div>
                        <div class="modal-body">
                            <ul class="list-group">
                                <li class="list-group-item" v-for="curso in OtrosCursos"><b>{{curso.nombre}}</b> {{curso.lugar}}</li>
                                <li class="list-group-item" style="cursor: pointer;">
                                    <a href="https://platzi.com/@AdrianCas/" style="text-decoration: none" target="_bl">
                                    <b>Otros cursos online realizados</a></b>
                                </li>
                            </ul>                            
                            <center><button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button></center>
                        </div>
                    </div>     
                </div>  
            </div>
        </div>   
        
        <!-- Modal Otros lenguajes de programacion-->    
        <div id="ModalOtrosLenguajes" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <center><h4 class="modal-title">Otros lenguajes de programacion aprendidos en la Universidad</h4></center>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="otroLenguaje in OtrosLenguajes">
                                <img :src="otroLenguaje.url" :alt="otroLenguaje.nombre" :title="otroLenguaje.nombre" class="imgOtroLenguaje">
                                <b>{{otroLenguaje.nombre}}:</b> {{otroLenguaje.lugar}} 
                            </li>                            
                        </ul> 
                        <p><center><button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button></center></p>
                    </div>                      
                </div>     
            </div>  
        </div>

    </div>
    
    <footer class="footer">
        <h5>SOBRE ESTA PAGINA</h5>
        <p>Este sitio web ha sido diseñado y codeado a mano con VSC en HTML5 y CSS3 con el framework Vue.js y Bootstrap.</p>
        <p>La web se encuentra alojada en un repositorio en GitHub (GitHubPages) y está diseñada siguiendo las tendencias en diseño web responsive, por tanto se adapta perfectamente a cualquier dispositivo en el que se visualice</p>
    </footer>  


    <!-- Cotenido Header para evitar retraso de "About"-->
    <link rel="stylesheet" type="text/css" href="Resources/fonts/fonts.css">   
    <link rel="stylesheet" type="text/css" href="Resources/css/index.min.css">
    <link rel="stylesheet" href="Resources/css/bootstrap.min.css"> 
    <script type="text/javascript" src="Resources/js/vue.min.js"></script>
    <script async  src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script async  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    
    <!---------------------------------------------------->
    <script async  src="Resources/js/index.min.js"></script>                         
    <script async  src="Resources/js/Menu.min.js"></script> 
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144197995-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-144197995-1');
    </script>

</body>
</html>




