<!DOCTYPE html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Adrian Humberto Castillo Lovo</title>
        <link rel="shortcut icon" href="Resources/img/favicon.ico"> 
        <!-- Critical Css-->
        <style>
            *{margin:0;padding:0}body{background:#FFFFFA}header{width:100%}header nav{width:100%;max-width:100%;margin:0px auto;background:#286090}.menu_bar{display:none;z-index:40}header nav ul{overflow:hidden;list-style:none}header nav ul li{float:left}header nav ul li a{padding:20px;display:block;text-decoration:none}header nav ul li span{margin-right:10px}header nav ul li a:hover{background:#337ab7}@media screen and (max-width:800px){header nav{width:75%;height:100%;left:-100%;margin:0;position:fixed}header nav ul li{display:block;float:none;border-bottom:1px solid rgba(255,255,255,.3)}.menu_bar{display:block;width:100%;background:#ccc}.menu_bar .bt-menu{display:block;padding:20px;background:#286090;color:#fff;text-decoration:none;font-weight:bold;font-size:25px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.menu_bar span{float:right;font-size:40px}}nav ul li a{text-decoration:none!important;color:white!important}
        </style>        
        <script src="Resources/js/vue.min.js"></script> 

    </head>
    
    <body>
                                                                                   
        <header>            
            <!--Menu Principal-->
            <div id="Menu" class="fijo">
                <div class="menu_bar">
                    <a class="bt-menu"><span class="icon-menu"></span>Menu</a>
                </div>  
                <nav>
                    <ul>    
                        <li>
                            <a href="index.html"><span class="icon-home"></span> Inicio</a>
                        </li>                            
                        <li>
                            <a href="https://github.com/AdrianLovo/"><span class="icon-github"></span>GitHub</a>
                        </li>                        
                        <li>
                            <a href="mailto:adrianhumbertocastillo@gmail.com" title="Enviar email a Adrian Castillo"><span class="icon-envelop"></span>Contactar</a>
                        </li>
                        <li>
                            <a href="Guia.html" title="Guias y Codigo"><span class="icon-embed"></span>Guias y Codigo</a>
                        </li>                                 
                    </ul>
                </nav>
            </div>    
        </header>   
    

        <div class="container">
            <h1 class="lead">Proyectos</h1>
        </div>
        
        <div id="PanelPrincipal" class="container">
            
            <!-- Listado de proyectos-->
            <div>

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" v-for="proyecto in Proyectos">                    
                    <div class="box" style="max-height: 350px;height: 350px;">
                        <div class="centrado">
                            <a :href="proyecto.url" target="_blank">
                                <img class="card-img-top" :src="proyecto.imagen" width="100%" alt="Card image cap" style="border-radius: 5px; margin-bottom: 5px;">
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="centrado">
                                <h5 class="card-title"><b>{{proyecto.nombre}}</b></h5>

                                <div v-for="tecnologia in proyecto.tecnologias" style="display: inline-flex;">
                                    <a class="card_lenguaje">{{tecnologia}}</a>
                                </div>
                                
                                <div style="margin-top: 10px;">    
                                    <a  class="btn btn-success" :href="proyecto.repositorio" target="_blank"><span class="icon-earth"></span> Website</a>
                                    <a  class="btn btn-default" :href="proyecto.repositorio" target="_blank"><span class="icon-github"></span> Repositorio</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>                   
                        
        </div>       

        <!-- Cotenido Header para evitar retraso de "About default"-->
        <link rel="stylesheet" type="text/css" href="Resources/fonts/fonts.css"> 
        <link rel="stylesheet" href="Resources/css/bootstrap.min.css">
        <link rel="stylesheet" href="Resources/css/Guia.min.css">           
        <link rel="stylesheet" href="Resources/css/Portafolio.min.css">
        <script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    
        <!------------------------------------------------------------>             
        <script async src="Resources/js/Menu.min.js"></script>       
        <script async src="Resources/js/Portafolio.min.js"></script>  

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144197995-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-144197995-1');
        </script> 
    </body>
</html>
