<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">  
    <meta name="robots" content="index,follow">         
    <meta name="description" content="Portafolio y Sitio Web Personal Adrián Castillo">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <title>Adrián Humberto Castillo Lovo</title>
    <link rel="shortcut icon" href="Resources/img/favicon.ico">  
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500&display=swap" rel="stylesheet">

    <!-- Critical Css-->
    <link rel="stylesheet" href="./Resources/css/CriticalCss.css">
    <link rel="stylesheet" href="./Resources/css/menu.min.css" media="screen and (max-width: 768px)"/> 
</head>

<body>

    <!--Menu Principal-->
    <header>                   
        <div id="menu" class="header--menu">
            <div id="menuButton" class="menu--button">
                <a class="bt-menu"><span class="icon-menu"></span>Menu</a>
            </div>  
            <nav id="menuNav">
                <ul>                    	
                    <li>
                        <a href="index.html"><span class="icon-home"></span>Principal</a>
                    </li>                            
                    <li>
                        <a href="https://github.com/AdrianLovo/"><span class="icon-github"></span>GitHub</a>
                    </li>                        
                    <li>
                        <a href="mailto:adrianhumbertocastillo@gmail.com" title="Enviar email a Adrian Castillo"><span class="icon-envelop"></span>Contactar</a>
                    </li>
                    <li>
                        <a href="#" title="Blog"><span class="icon-book"></span>Blog</a>
                    </li>                                 
                </ul>
            </nav>
        </div>    
    </header>   

    <!--Principal-->
    <main id="Principal">

        <div class="tituloPrincipal">
            <h1>Ultimos Proyectos Realizados</h1>
        </div>

        <!--Bloque_Informacion_Personal-->
        <section class="container" >            
           <div v-for="proyecto in Proyectos">    
                <article class="article_container marco">
                    <a :href="proyecto.url" target="_blank">
                        <img class="article_container--imagen" :src="proyecto.imagen" :alt="proyecto.nombre">
                    </a>
                    <h5 class="article_body--title"><b>{{proyecto.nombre}}</b></h5>  
                    <div class="article_body">                                                
                        <div v-for="tecnologia in proyecto.tecnologias" class="container_etiquetas">
                            <spam class="etiqueta_lenguaje">{{tecnologia}}</spam>
                        </div>                                                 
                    </div>
                    <div class="article_footer">                                 
                        <a  class="sitio--button" :href="proyecto.sitio" target="_blank"><span class="icon-earth"></span> Website</a>
                        <a  class="github--button" :href="proyecto.repositorio" target="_blank"><span class="icon-github"></span> Repositorio</a>                                            
                    </div>                    
                </article>           
            </div>                   
        </section> 

    </main>

    
    <!-- Cotenido Header para evitar retraso de "About"-->
    <link rel="stylesheet" type="text/css" href="Resources/fonts/fonts.css">      
    <link rel="stylesheet" href="./Resources/css/proyectos.css">
    
    <!--Librerias JavaScript-->
    <script type="text/javascript" src="Resources/js/vue.min.js"></script>
    <script type="text/javascript" src="Resources/js/Portafolio.min.js"></script>

    <!--JavaScript-->
    <script async  src="Resources/js/Menu.min.js"></script> 
    <script async  src="Resources/js/index.min.js"></script>  
    
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144197995-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-144197995-1');
    </script>

</body>
</html>