<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">  
    <meta name="robots" content="index,follow">         
    <meta name="description" content="Portafolio y Sitio Web Personal Adrián Castillo">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <title>Adrián Humberto Castillo Lovo</title>
    <link rel="shortcut icon" href="Resources/img/favicon.ico">  
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700" rel="stylesheet">

    <!-- Critical Css-->
    <link rel="stylesheet" href="./Resources/css/CriticalCss.min.css">   
</head>

<body>

    <!--Menu Principal-->
    <header>                   
        <div id="menu" class="header--menu">
            <div id="menuButton" class="menu--button">
                <p class="bt-menu"><span class="icon-menu"></span>Menu</p>
            </div>  
            <nav id="menuNav">
                <ul>                    	
                    <li>
                        <a rel="noopener" href="index.html"><span class="icon-home"></span>Principal</a>
                    </li>                            
                    <li>
                        <a rel="noopener" href="https://github.com/AdrianLovo/"><span class="icon-github"></span>GitHub</a>
                    </li>                        
                    <li>
                        <a rel="noopener" href="mailto:adrianhumbertocastillo@gmail.com" title="Enviar email a Adrian Castillo"><span class="icon-envelop"></span>Contactar</a>
                    </li>
                    <li>
                        <a rel="noopener" href="#" title="Blog"><span class="icon-book"></span>Blog</a>
                    </li>                                 
                </ul>
            </nav>
        </div>    
    </header>   

    <!--Principal-->
    <main id="Principal">

        <div class="tituloPrincipal">
            <h1>Ultimos Proyectos Realizados</h1>
        </div>

        <!--Bloque_Informacion_Personal-->
        <section class="container" >            
           <div v-for="proyecto in Proyectos">    
                <article class="article_container marco">
                    <p :href="proyecto.url" target="_blank">
                        <img class="article_container--imagen" :data-src="proyecto.imagen" :alt="proyecto.nombre">
                    </p>
                    <h2 class="article_body--title"><b>{{proyecto.nombre}}</b></h2>  
                    <div class="article_body">                                                
                        <div v-for="tecnologia in proyecto.tecnologias" class="container_etiquetas">
                            <spam class="etiqueta_lenguaje">{{tecnologia}}</spam>
                        </div>                                                 
                    </div>
                    <div class="article_footer">                                 
                        <a rel="noopener" class="sitio--button" :href="proyecto.sitio" target="_blank"><span class="icon-earth"></span> Website</a>
                        <a rel="noopener" class="github--button" :href="proyecto.repositorio" target="_blank"><span class="icon-github"></span> Repositorio</a>                                            
                    </div>                    
                </article>           
            </div>                   
        </section> 

    </main>

    
    <!-- Cotenido Header para evitar retraso de "About"-->
    <link rel="stylesheet" href="./Resources/css/menu.min.css" media="screen and (max-width: 768px)"/> 
    <link rel="stylesheet" type="text/css" href="Resources/fonts/fonts.css">      
    <link rel="stylesheet" href="./Resources/css/proyectos.min.css">
    
    <!--Librerias JavaScript-->
    <script type="text/javascript" src="Resources/js/vue.min.js"></script>
    <script type="text/javascript" src="Resources/js/Portafolio.min.js"></script>

    <!--JavaScript-->
    <script async  src="Resources/js/Menu.min.js"></script> 
</body>
</html>