:root {
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --dark-blue: #286090;
    --light-blue: #337ab7
}

* {
    margin: 0;
    padding: 0
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    background-color: var(--off-white)
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 'informacion''formacion''tecnologias''sobremi'
}

header {
    max-width: 1024px
}

header nav {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background: var(--dark-blue);
    left: -100%
}

header nav ul {
    overflow: hidden;
    list-style: none
}

header nav ul li {
    float: left
}

header nav ul li a {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.2rem;
    padding: 20px;
    display: block;
    text-decoration: none;
    color: var(--just-white)
}

header nav ul li span {
    margin-right: 10px
}

header nav ul li a:hover {
    background: var(--light-blue)
}

.menu--button {
    display: none;
    z-index: 40
}

.header--menu {
    position: fixed;
    width: 100%
}

.marco {
    border: 1px solid #b1b1b3;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .5);
    box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .5)
}


