/* ==========================================================================
   Author's Adrian 
   ========================================================================== */

body{
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-color: white;    
}
footer{
    height: 10%;
    background-color: white;
    margin-top:35px;
    color: black; 
    font-weight: 800;
    font-size: 17px;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 20px;
}
td, tr{
    margin-right: 10px;
}
.foto{
    width: 100%;
    height: 100%;
}
.fotoPerfil{
    width: 100%;
    height: 100%;
    border-radius: 10px;    
}
.resaltado:hover {
    background-color: #E6E4E3;
    color:#337ab7;
}
table{
    margin-right: 20px;
    margin-left: 20px;
}

.encabezado{
    margin-bottom: 15px;
}
.letra{
    font-family:Arial;
}
.botonesBarra{
    height: 52px;
}
.icono{
    font-size: 10px;
}
.ac{
    text-align: center!important;
}
.title-size {
    font-size: 1.5em;
    line-height: 110%;
}
i, em {
    font-style: italic;
}
.lead {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #c9ccd1;
    margin-bottom: 0;
    padding: 10px 30px 10px 30px;
}
.lead2{
    font-size: 20px;
    text-align: center;
    letter-spacing: 0px;
    color: black;
}
small, .small {
    font-size: 75%!important;
}
strong, .bold, b, p{
    font-family: "proxima_nova_rgbold","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.border-b {
    border-bottom: 1px solid;
}
.uppercase {
    text-transform: uppercase!important;
}
.boton{
    text-decoration: none;
}
span{
    
}


.fijo{
    width: 100%;
    position: fixed;   
}

td:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.efectofotoPerfil:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
















