.TituloGuia{
	cursor: pointer;
}

.TituloOculto{
	display: none;
}

.TextoModal{
	text-decoration: none; 
	color: black;
}

.TextoModal:hover{
	text-decoration: none; 
	color: black;
	font-size: 15px;
}
.list-group-item{
	position: static;
}