.TituloGuia{
	cursor: pointer;
}

.TextoModal{
	text-decoration: none; 
	color: black;
}

.TextoModal:hover{
	text-decoration: none; 
	color: black;
	font-size: 15px;
}
.list-group-item{
	position: static;
}


/*Efecto de tranasicion en listas*/
.mi-trans-enter-active{
	opacity: 0;
	margin-left: -200px;	
}

.mi-trans-enter-to{
	opacity: 1;
	transition-duration: 1s;
	margin-left: 0px;
}

.mi-trans-leave-active{
	opacity: 1;
	transition-duration: 1s;
}

.mi-trans-leave-to{
	opacity: 0;
	margin-left: -500px;
}

