main {
    grid-template-columns: 1fr;
    grid-template-areas: 'informacion''formacion''informacion''tecnologias''sobremi'
}

.informacion {
    width: 95%;
    margin: 65px auto 0 auto;
    height: initial;
    display: flex;
    justify-content: center;
}

.informacion_principal {
    display: inline-block; 
}

.informacion_redes a{
    height: 45px;
    padding-bottom: 20px;
    margin-left: 2px;
}

.informacion .informacion_redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0px;
}

.informacion_foto{
    max-height: 145px;
}



.informacion_principal {
    padding-top: 10px;
    width: 35%;
}
.informacion_frase{
    padding-top: 10px;
    width: 35%;
    display: flex;
    align-items: center;
}

.formacion_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.formacion_container--article {
    width: 30%
}

.sobremi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.sobremi--article {
    width: 30%;
    padding: 0
}

img {
    display: inline
}

.footer {
    position: relative;
    z-index: -100;
    bottom: 0
}