.tituloPrincipal {
    margin-top: 80px;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 10px
}

.container {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #b1b1b3;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .5);
    box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .5)
}

.article_footer a {
    text-decoration: none;
    margin-left: 10px
}

.sitio_button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none
}

.sitio--button {
    font-size: 1.5rem;
    border: 1px solid #000000;
    background-color: #4cae4c;
    color: black;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.sitio--button:hover {
    background: #449d44;
    border: 1px solid #398439
}

.sitio--button:focus {
    outline: 0
}

.github_button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none
}

.github--button {
    font-size: 1.5rem;
    border: 1px solid rgb(3, 3, 3);
    background-color: #fff;
    color: #000;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px
}

.github--button:hover {
    background: #e6e6e6;
    border: 1px solid #8c8c8c
}

.github--button:focus {
    outline: 0
}

.article_container {
    background-color: #fff;
    width: 90%;
    margin: 2%;
    min-height: 320px;
    max-width: 300px
}

.article_container--imagen {
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 95%;
    height: 180px;
    margin-left: 2.5%;
    object-fit: scale-down;
    max-width: 300px
}

.article_body--title {
    font-size: 1.7rem;
    line-height: 2rem;
    text-align: center;
}

.article_body {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.article_body--tecnologias{
    color: #337ab7;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 20px;
    margin-left: 20px;
}

.article_body--tecnologiasList{
    font-size: 1.2rem;
    margin-left: 40px;
}

.article_body--tecnologiasTitle{
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 20px;
}
.article_body--descripcion{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 1.2rem;
}

.article_body--links{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
}

.article_body--links a{
    font-size: 1.8rem;
    font-weight: 300;
    margin-right: 10px;
    color: #286090;
    text-decoration: none;
}
.article_body--links a:hover{
    color: #337ab7;    
}

.article_footer {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center
}

.article_body--return{
    color: #337ab7;
    font-weight: 100;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.article_body--return a{
    border: 1px solid #286090;
    background-color: #286090;
    color: white;
    padding: 5px;
}
.article_body--return a:hover{
    background: #337ab7;
    border: #439eb9;
}

.etiqueta_lenguaje {
    font-size: 1.4rem;
    box-sizing: border-box;
    text-align: center;
    padding: 0 6px;
    line-height: 22px;
    height: 22px;
    border-radius: 5px;
    border: 1px solid #6b6b6b;
    margin: 2px;
}

.etiqueta_miniproyecto {
    font-size: 1.4rem;
    box-sizing: border-box;
    text-align: center;
    padding: 0 6px;
    line-height: 22px;
    height: 22px;
    border-radius: 5px;
    border: 1px solid #6b6b6b;
    margin: 2px;
    min-width: 230px;
    width: 230px;
    min-height: 30px;    
}

.etiqueta_miniproyecto:hover{
    background: #337ab7;
    border: #439eb9;
    color: white;
}

.etiqueta_miniproyecto a{
    cursor: pointer;
}
